.smaller-header {
  color: var(--gold);
  font-size: 1.5em;
}

#home {
  padding-top: 50px;
  background-color: var(--darkblue);
}

.home-container {
  max-width: 70%;
  margin: 0 auto;
  /* padding: 40px; */
}

.large-header {
  color: white;
  font-size: 2em;
  line-height: 1.5;
}

.large-header:nth-child(3) {
  color: var(--cream);
}

.home-btn {
  display: inline-block;
  border: 2px solid var(--cream);
  padding: 15px;
  margin-top: 50px;
  transition: 0.5s ease-in;
}

.home-btn:hover {
  border: 2px solid var(--gold);
}

.home-content {
  color: var(--cream);
  line-height: 1.4;
  margin-top: 7px;
}

@media screen and (min-width: 700px) {
  .large-header {
    font-size: 3em;
  }
}
