.navbar {
  padding: 20px;
  background-color: var(--navy);
  height: 120px;
  display: flex;
  justify-self: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 100%;
}

img {
  max-width: 100px;
  cursor: pointer;
}

i {
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  padding: 0 10px;
}

a {
  color: white;
  padding: 35px 20px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

a:hover {
  color: var(--gold);
  transition: 0.3s ease-in-out;
}

.nav-menu {
  background-color: var(--navy);
  display: flex;
  flex-direction: column;
  position: fixed;
  right: -100%;
  width: 40%;
  top: 100px;
  height: 100vh;
}

.nav-menu.active {
  right: 0;
  transition: all 0.5s ease;
}

@media screen and (min-width: 650px) {
  .menu-icon i {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 50%;
    top: 0;
    padding: 0 10px;
    right: 0;
    justify-content: flex-end;
    align-items: center;
    transition: none;
  }
}
