.navbar {
  padding: 20px;
  background-color: var(--navy);
  display: flex;
  justify-content: flex-end;
}

i {
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  padding: 0 10px;
}

a {
  color: white;
  padding: 35px 20px;
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: var(--gold);
  transition: 0.3s ease-in-out;
}

.nav-menu {
  background-color: var(--navy);
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -100%;
  width: 40%;
  height: 100vh;
}

.nav-menu.active {
  right: 0;
  transition: all 0.5s ease;
}

@media screen and (min-width: 600px) {
  .menu-icon i {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    top: 0;
    padding: 0 10px;
    right: 0;
    justify-content: flex-end;
    transition: none;
  }
}
