#projects {
  background-color: var(--darkblue);
  padding: 70px 0;
}

.projects-large-header {
  color: white;
  font-size: 3em;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 30px;
}

.projects-container {
  max-width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media screen and (min-width: 880px) {
  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
