.tech-item {
  border-radius: 10px;
  padding: 10px 20px;
  border: 1px solid var(--gold);
  width: 150px;
  transition: 0.3s ease-in-out;
}

.tech-item p {
  color: var(--gold);
  text-align: center;
  margin: 5px;
  font-size: 0.8em;
}

.tech-item img {
  width: 50px;
  display: block;
  margin: 0 auto;
}

.tech-item:hover {
  transform: scale(1.1);
}
