@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, 'Arial';
}

html {
  scroll-behavior: smooth;
}

:root {
  --darkblue: #14153d;
  --gold: #ffc636;
  --navy: #0a0a1e;
  --cream: rgba(255, 255, 255, 0.8);
}
